﻿.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #1154B1;
	background: url(http://i38.fastpic.ru/big/2012/0524/8b/f0cc5eebd5599f689a0b1fc477f7f28b.gif) no-repeat center top;
}
.btn-slide {
	background: url(http://i37.fastpic.ru/big/2012/0524/1e/cdc58eb096f26ff76e696cea2a8b531e.gif) no-repeat right -50px;
	text-align: center;
	width: 144px;
	height: 31px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}
.active {
	background-position: right 12px;
}

#panel_disqus ,#panel_players {
overflow: hidden;
background: #E5E9ED;
border-top: 1px solid white;
}